@import "tailwindcss";

*,
*::after,
*::before {
	box-sizing: border-box;
}
@font-face {
  font-family: 'AntaTrial';
  src: url('/fonts/antarctica/AntaTrial-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'AntaTrial';
  src: url('/fonts/antarctica/AntaTrial-Bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
	margin: 0;
	color: #fff;
	background-color: #12100e;
	font-family: 'AntaTrial', sans-serif;
	width: 100%;
	overflow-x: hidden;
  /* position: relative; */
  background: 
    radial-gradient(circle, #079679 0%, #001f2b 100%, rgba(0, 0, 0, 1) 100%);
}